* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "ff-cocon-pro", sans-serif;
}

header {
    width: 100%;
    height: 80px;
    background-color: #0E1E6C;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .links {
    display: flex;
    flex-wrap: wrap;
}

header .links a {
    text-decoration: none;
    color: white;
    font-size: 14pt;
    margin-left: 35pt;
    flex-wrap: wrap;
}

header .links a:hover {
    color: #F76D20;
    transition: 0.2s;
}

header .links #login {
    border: solid 2pt #ffffff;
    border-radius: 4pt;
    font-weight: bold;
    height: auto;
}

header .links #login:hover {
    border: solid 2pt #fcc1a2;
}