* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "ff-cocon-pro", sans-serif;
}

body {
    width: 100%;
    height: 1200pt;
}

header {
    width: 100%;
    height: 80px;
    background-color: #0E1E6C;
    opacity: 1;
    display: flex;
    justify-content: right;
    align-items: center;
}

header .links {
    display: flex;
}

header .links a {
    text-decoration: none;
    color: white;
    font-size: 20pt;
    margin-right: 28pt;
}

header .links #login {
    border: solid 2pt #ffffff;
    border-radius: 4pt;
    font-weight: bold;
}

section {
    width: 100%;
    height: 300pt;
    display: flex;
    justify-content: center;
}

section .abaPrincipal {
    width: 90%;
    margin-left: 40pt;
}

section .abaPrincipal h1 {
    font-size: 40pt;
    font-weight: 700;
    color: #0E1E6C;
    margin-top: 70pt;
}

section .abaPrincipal p {
    color: #474747;
    font-size: 23px;
    margin-top: 30pt;
    font-style: normal;
    font-weight: lighter;
}

#imagemPrincipal {
    width: 400pt;
    height: 400pt;
    margin-right: 25pt;
}

#botao {
    background-color: #F76D20;
    width: 150pt;
    height: 35pt;
    margin-top: 30pt;
    border-radius: 5pt;
    color: white;
    font-size: 18pt;
    cursor: pointer;
    border: none;
}

.abaSecundaria {
    width: 100%;
    height: 110pt;
    margin-top: 135pt;
    display: flex;
    justify-content: center;
}

.abaSecundaria .conteudo {
    width: 90%;
    height: 110pt;
    border-radius: 40pt;
    box-shadow: 2pt 2pt 2pt 2pt #e7e7e7;
    display: flex;
}

.abaSecundaria .conteudo .divTituloSecundario {
    display: flex;
    align-items: center;
    margin-left: 30pt;
    width: 130pt;
}

.abaSecundaria .conteudo .tituloSecundario {
    color: #0E1E6C;
    font-size: 19pt;
}

.abaSecundaria .conteudo .conteudoTexto {
    color: #474747;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 75%;
    font-weight: lighter;
}

.abaSecundaria .conteudo .conteudoTexto #botaoSaibaMais {
    width: 140px;
    height: 35px;
    border-radius: 5pt;
    border: none;
    background-color: #0E1E6C;
    color: white;
    margin-top: 30pt;
    cursor: pointer;
}

.abaSecundaria .conteudo .conteudoTexto .divBotaoSaibaMais{
    width: 140px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tituloBaixo {
    width: 100%;
    height: 100pt;
    margin-top: 60pt;
    display: flex;
    align-items: center;
    justify-content: center;

}

.tituloBaixo #tituloAbaixoPg {
    text-align: center;
    font-size: 25pt;
    color: #0E1E6C;
    font-weight: lighter;
}

.tituloBaixo #spanTxtSecundario{
    font-weight: bolder;
}

.divCards {
    margin-top: 30pt;
    width: 100%;
    height: 250pt;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.divCards .card {
    height: 90%;
    width: 80pt;
    background-color: white;
}

.divCards .card .propImg {
    width: 50pt;
    height: 50pt;
}