* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "ff-cocon-pro", sans-serif;
}

body {
    width: 100%;
    height: 1200pt;
}

header {
    width: 100%;
    height: 80px;
    background-color: #0E1E6C;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .links {
    display: flex;
}

header .links a {
    text-decoration: none;
    color: white;
    font-size: 20pt;
    margin-left: 35pt;
}

header .links a:hover {
    color: #F76D20;
    transition: 0.2s;
}

header .links #login {
    border: solid 2pt #ffffff;
    border-radius: 4pt;
    font-weight: bold;
    height: auto;
}

header .links #login:hover {
    border: solid 2pt #fcc1a2;
}

section {
    width: 100%;
    height: 300pt;
    display: flex;
    justify-content: center;
}

section .abaPrincipal {
    width: 90%;
    margin-left: 40pt;
}

section .abaPrincipal h1 {
    font-size: 40pt;
    font-weight: 700;
    color: #0E1E6C;
    margin-top: 50px;
}

section .abaPrincipal p {
    color: #474747;
    font-size: 23px;
    margin-top: 30pt;
    font-style: normal;
    font-weight: lighter;
}

#imagemPrincipal {
    width: 400pt;
    height: 400pt;
    margin-right: 25pt;
}

#botao {
    background-color: #F76D20;
    width: 150pt;
    height: 35pt;
    margin-top: 30pt;
    border-radius: 5pt;
    color: white;
    font-size: 18pt;
    cursor: pointer;
    border: none;
}

#botao:hover {
    background-color: #c04604;
    transition: 0.2s;
}

.abaSecundaria {
    width: 100%;
    height: 110pt;
    margin-top: 135pt;
    display: flex;
    justify-content: center;
}

.abaSecundaria .conteudo {
    width: 90%;
    height: 110pt;
    border-radius: 40pt;
    box-shadow: 2pt 2pt 2pt 2pt #e7e7e7;
    display: flex;
}

.abaSecundaria .conteudo .divTituloSecundario {
    display: flex;
    align-items: center;
    margin-left: 30pt;
    width: 130pt;
}

.abaSecundaria .conteudo .tituloSecundario {
    color: #0E1E6C;
    font-size: 19pt;
}

.abaSecundaria .conteudo .conteudoTexto {
    color: #474747;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 75%;
    font-weight: lighter;
    
}

.abaSecundaria .conteudo .conteudoTexto #botaoSaibaMais {
    width: 140px;
    height: 35px;
    border-radius: 5pt;
    border: none;
    background-color: #0E1E6C;
    color: white;
    margin-top: 30pt;
    cursor: pointer;
}

#linkSaibaMais {
    color: white;
    text-decoration: none;
}

.abaSecundaria .conteudo .conteudoTexto #botaoSaibaMais:hover {
    background-color: #041152;
} 

.abaSecundaria .conteudo .conteudoTexto .divBotaoSaibaMais{
    width: 140px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tituloBaixo {
    width: 100%;
    height: 100pt;
    margin-top: 60pt;
    display: flex;
    align-items: center;
    justify-content: center;

}

.tituloBaixo #tituloAbaixoPg {
    text-align: center;
    font-size: 25pt;
    color: #0E1E6C;
    font-weight: lighter;
}

.tituloBaixo #spanTxtSecundario{
    font-weight: bolder;
}

.divCards {
    margin-top: 30pt;
    width: 100%;
    height: 300pt;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.divCards .card {
    height: auto;
    width: 240pt;
    margin: 30pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8pt;
    box-shadow: 1pt 1pt 2pt 2pt #d1d0d0;
    cursor: pointer;
    padding: 20pt;
}

.divCards .card .propImg {
    width: 130pt;
    height: 130pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divCards .card .cardImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 110pt;
}

.divCards .card .divConteudoCard p {
    color: #474747;
}

.divCards .card .divConteudoCard #botaoSaibaMais {
    margin-top: 15px; /* ou outro valor adequado */
}

.divCards #cardEmpresa {
    box-shadow: 1pt 1pt 2pt 2pt #F76D20;
}

.divCards .card .titulocard {
    margin-bottom: 10px;
}

footer {
    background-color: #0E1E6C;
    width: 100%;
    height: 90pt;
    margin-top: 80pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    color: white;
    text-align: center;
    font-weight: lighter;
}

footer #spanFooter {
    font-weight: bold;
    font-size: 12pt;
}

/* Media queries para telas menores */
@media screen and (max-width: 768px) {
    header .links a {
        font-size: 16pt;
        margin-right: 15pt;
    }

    header .links #login {
        margin-top: 10px;
    }

    section .abaPrincipal h1 {
        font-size: 32pt;
        margin-top: 50pt;
    }
    
    #imagemPrincipal {
        width: 100%;
        height: auto;
        margin-right: 0;
    }
    .divCards {
        display: flex;
        flex-direction: column;
        margin-top: 400pt;
    }

    section {
        margin-bottom: 570pt;
    }

    footer {
        margin-top: 370pt;
    }
}

@media screen and (max-width: 480px) {
    header .links a {
        font-size: 14pt;
        margin-right: 10pt;
    }

    header .links #login {
        margin-top: 5px;
    }

    section .abaPrincipal h1 {
        font-size: 28pt;
        margin-top: 40pt;
    }

    #imagemPrincipal {
        width: 100%;
        height: auto;
        margin-right: 0;
    }

    .divCards {
        display: flex;
        flex-direction: column;
        margin-top: 400pt;
    }

    footer {
        margin-top: 370pt;
    }

    section {
        margin-bottom: 570pt;
    }

    .abaSecundaria {
        /*margin-top: 400pt;*/
    }

    .tituloBaixo {
        margin-top: 100pt;
    }

    .conteudo {
        margin-top: 20;
        display: flex;
        
    }

    .conteudo .conteudoTexto {
        height: 150pt;
    }
}