* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "ff-cocon-pro", sans-serif;
}

body {
    width: 100%;
    height: 800pt;
}

header {
    width: 100%;
    height: 80px;
    background-color: #0E1E6C;
    opacity: 1;
    display: flex;
    justify-content: right;
    align-items: center;
}

header .links {
    display: flex;
}

header .links a {
    text-decoration: none;
    color: white;
    font-size: 20pt;
    margin-right: 28pt;
}

header .links #login {
    border: solid 2pt #ffffff;
    border-radius: 4pt;
    font-weight: bold;
}

section {
    width: 100%;
    height: 300pt;
    display: flex;
    justify-content: center;
}

section .abaPrincipal {
    width: 90%;
    margin-left: 40pt;
}

section .abaPrincipal h1 {
    font-size: 40pt;
    font-weight: 700;
    color: #0E1E6C;
    margin-top: 70pt;
}

section .abaPrincipal p {
    color: #474747;
    font-size: 23px;
    margin-top: 30pt;
    font-style: normal;
}

#imagemPrincipal {
    width: 400pt;
    height: 400pt;
    margin-right: 25pt;
}

#botao {
    background-color: #F76D20;
    width: 150pt;
    height: 35pt;
    margin-top: 30pt;
    border-radius: 5pt;
    color: white;
    font-size: 18pt;
    cursor: pointer;
    border: none;
}

.abaSecundaria {
    width: 100%;
    height: 110pt;
    margin-top: 135pt;
    display: flex;
    justify-content: center;
}

.abaSecundaria .conteudo {
    width: 90%;
    height: 110pt;
    border-radius: 40pt;
    box-shadow: 2pt 2pt 2pt 2pt #e7e7e7;
}

.abaSecundaria .conteudo .divTituloSecundario {
    display: flex;
    align-items: center;
    width: 130pt;
}

.abaSecundaria .conteudo .tituloSecundario {
    color: #0E1E6C;
    font-size: 20pt;
}

